fastapi>=0.90.0
uvicorn[standard]>=0.20.0

Pillow>=9.0.0
python-multipart>=0.0.5

# ✅ Force CPU-only torch (VERY IMPORTANT)
torch==2.0.1+cpu -f https://download.pytorch.org/whl/torch_stable.html

# YOLO
ultralytics>=8.0.0
opencv-python-headless>=4.5.0

# Monitoring
prometheus-client
prometheus-fastapi-instrumentator
